html {
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  --Soft-blue: hsl(215, 51%, 70%);
  --Cyan: hsl(178, 100%, 50%);
  --Cyan-eye: hsla(178, 100%, 50%, 0.502);
  --Very-dark-blue-main-BG: hsl(217, 54%, 11%);
  --Very-dark-blue-card-BG: hsl(216, 50%, 16%);
  --Very-dark-blue-line-: hsl(215, 32%, 27%);
  --White: hsl(0, 0%, 100%);
}

body {
  background-color: var(--Very-dark-blue-main-BG);
  font-family: "Outfit", sans-serif;
  font-size: 1.8rem;
  color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3.6rem;
}

.container{
    max-width: 32.8rem;
    background-color: var(--Very-dark-blue-card-BG);
    border-radius: 1rem;
    margin-bottom: 6.2rem;
    margin-top: 14rem;
    transition: box-shadow 0.5s, transform 0.5s;
}
.container:hover{
    box-shadow: 0px 10px 14px 2px rgba(0,0,0,0.5);
    transform: scale(1.01);
}

.container__img, .container__content, .container__footer{
    margin: 2.4rem;
}

.container__img{
    background-image: url(/images/image-equilibrium.jpg);
    background-size: cover;
    background-position: center;
    max-width: 28rem;
    height: 28rem;
    border-radius: 1rem;
    overflow: hidden;
}

#layer{
    width: 100%;
    height: 100%; 
    opacity: 0;
    transition: background-color 0.5s, opacity 0.5s;
}
#layer:hover{
    opacity: 1;
    background-image: url(/images/icon-view.svg);
    background-repeat: no-repeat;
    background-color: var(--Cyan-eye); 
    background-position: center;
    cursor: pointer;
    
}

.container__content h2{
    font-size: 2.08rem;
    transition: color 0.5s;
}

.container__content h2:hover{
    color: var(--Cyan);
    cursor: pointer;
}

.container__content p{
    color: var(--Soft-blue);
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 300;
}

.container__content__price{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    
}

.container__content__price img{
    margin-right: 0.8rem;
}

.container__content__price__eth{
    color: var(--Cyan);
    margin-right: 10rem;
    font-weight: 400;
}

.container__content__price__days{
    color: var(--Soft-blue);
    font-weight: 300;
}

.container__footer{
    display: flex;
    border-top: 0.1rem solid var(--Very-dark-blue-line-);
    margin-top: 1.8rem;
    font-size: 1.4rem;
    display: flex;
    align-items: center;

}

.container__footer p{
    transition: color 0.5s;
}
.container__footer p:hover{
    color: var(--Cyan);
    cursor: pointer;
}

.container__footer img{
    width: 3.4rem;
    height: 3.4rem;
    border: 2px solid var(--White);
    border-radius: 50%;
    margin-right: 1.8rem;
}

.container__footer span{
    color: var(--Soft-blue);
    font-weight: 300;
}

.container__footer img, .container__footer p{
    margin-top: 1.8rem;
}

.attribution {
  font-size: 1.6rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 768px) {
    .container{
        
    }
}